/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*MAIN CONTENT*/
.app-content {
    flex-basis: calc(100% - 220px);
    background-color: #141922;
    height: calc(100vh - 100px);
    display: flex;
}

/*SIDEBAR*/
.app-content .sidebar {
    background-color: black;
    flex-basis: 220px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

.app-content .sidebar .logo {
    width: 65%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.app-content .sidebar .logo-small {
    visibility: hidden;
    width: 5%;
}

.app-content .sidebar .iconside {
    width: 13%;
    cursor: pointer;
    padding-top: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.app-content .sidebar .list1 li:first-child {
    border-left: 2px solid #adff2f;
    
}

.app-content .sidebar .list1 span {
    list-style: none;
    font-size: 13px;
    vertical-align: sub;
    cursor: pointer;
}


.app-content .sidebar .list1 span:hover,
.app-content .sidebar .list2 span:hover,
.app-content .sidebar .list2 i:hover,
.app-content .sidebar .account .txtdownload:hover {
    color: white;
}

/*RESPONSIVE SECTION*/
@media screen and (max-height: 775px) {
    .app-content .sidebar .account {
    visibility: hidden;
    }
    
}

@media screen and (max-height: 350px) {
    .app-content .sidebar {
        overflow-y: hidden;
    }

    .app-content .sidebar .list1 li:first-child {
        border: none;
    } 
}

@media screen and (max-height: 200px) {
    .app-content .spotify .navbar {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .music .icons .col {
        flex-basis: calc(100% / 4 - 20px);
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .music .icons .col {
        flex-basis: calc(100% / 2 - 20px);
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .music .icons .col {
        flex-basis: calc(100% / 2 - 20px);
        padding-top: 20px;
    }

    .app-content .sidebar .logo,
    .app-content .sidebar .list1,
    .app-content .sidebar h2,
    .app-content .sidebar .list2,
    .app-content .sidebar .account {
        visibility: hidden;
    }

    .app-content .sidebar .logo-small {
        visibility: visible;
        width: 50%;
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    .app-content .sidebar .list1 img {
        visibility: visible;
        width: 50%;
    }

    .app-content .sidebar .account .profile .avatar {
        position: absolute;
        bottom: 3px;
        right: 35px;
    }

    .app-content .sidebar .account .install .download {
        position: absolute;
        top: 120px;
        right: 133px;
    }

    .app-content .sidebar .account img {
        visibility: visible;
        width: 50%;
    }

    .app-content .sidebar {
        flex-basis: 50px;
        position: relative;
    }

    .app-content .spotify {
        flex-grow: 1;
    }

    .app-content .spotify .navbar {
        width: calc(100% - 85px);
    }

    .app-content .music {
        justify-content: center;
    }

    .main-footer .footer-left .far.fa-heart {
        margin-left: 0;
    }

    .main-footer .footer-left i {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-footer .footer-right .last-icons i {
        color: #fff;
        padding-left: 0px;
        display: inline-block;
        font-size: 11px;
        padding-bottom: 6px;
    }

    .main-footer .footer-right .volume .volumeprogress .circle,
    .main-footer .footer-center .barmusic .barprogress .circle {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -2px;
    left: 20px;
    top: -7px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;   
    }
}

/*END RESPONSIVE*/
.color-active {
    color: white;
}

.color-side {
    color: #d2d2d2;
}


.sidebar h2 {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.sidebar .list2 i {
    color: #a3a3a3;
    border-radius: 0;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: sub;
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .list2 .create {
    color: #717171;
    padding-bottom: 10px;
    vertical-align: super;
    cursor: pointer;
}

.sidebar .list2 li:not(:first-child) {
    color: #717171;
    justify-content: center;
    margin-left: 20px;
    list-style: none;
    padding-top: 20px;
    cursor: pointer;
}

.sidebar .list2 {
    overflow-Y: auto;
}


.sidebar .account .install {
    border-bottom: 1px solid gray;
    margin-left: 17px;
    position: absolute;
    bottom: 170px;
    width: 180px;
}

.sidebar .account .install .download {
    width: 22px;
    vertical-align: baseline;
    margin-right: 10px;
    
}

.sidebar .account .install .txtdownload {
    color: #717171;
    vertical-align: super;
    padding-top: 10px;
    cursor: pointer;
}

.sidebar .account .profile .avatar {
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    bottom: 120px;
    margin-left: 20px;
    cursor: pointer;
}

.sidebar .account .profile .user {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 125px;
    margin-left: 60px;
    cursor: pointer;
}

.app-content .spotify {
    width: calc(100% - 220px);
    overflow-y: auto;
}

/*UPGRADE*/
.app-content .navbar {
    width: calc(100% - 220px);
    background: rgba(8, 11, 18, .5);
    height: 90px;
    position: fixed;
    text-align: right;
    z-index: 1;
}

.app-content .spotify .navbar .btn-info {
    margin-top: 20px;
    margin-right: 20px;
    color: #fff;
    border: 2px solid #fff;
    background: #0000;
    padding: 14px;
    border-radius: 25px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.app-content .spotify .navbar .btn-info:hover {
    transform: scale(1.1);
}

/*HEADER SPOTIFY*/
.app-content .titles {
    height: 90px;
    
}

.spotify .music .title1 li:hover {
    color: white;
}

.app-content .title1 {
    text-align: center;
    width: 100%;
}

.app-content .titles li:not(:first-child) {
    padding-bottom: 20px;
}

.app-content .titles li:first-child::after {
    content: '';
    display: inline-block;
    width: 40%;
    height: 2px;
    position: relative;
    left: 20px;
    bottom: 7px;
    background: #9ce62d;
    border-radius: 5px;
}

.app-content .titles li::after {
    content: '';
    display: inline-block;
    width: 20%;
    height: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/*MUSIC SPOTIFY*/
.app-content .music {
    padding-top: 100px;
    padding-left: 20px;
    flex-basis: calc(100% - 220px);
    flex-wrap: wrap;

}
.app-content .titles li {
    color: #6c6f75;
    list-style: none;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.app-content .icons {
    display: flex;
    flex-wrap: wrap;
}

.app-content .col {
    width: calc((100% / 6) - 20px);
}

.app-content .box {
    position: relative;
    width: 200px;
    text-align: center;
}

.app-content .box img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.app-content .box .play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .3s;
}

.app-content .box .play.rotondo {
border-radius: 50%;
}

.app-content .icons .play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}

.app-content .box:hover .play {
    opacity: 1;
    cursor: pointer;
}

.app-content .spotify h3 {
    font-size: 17px;
    color: white;
    padding-top: 10px;
}

.app-content .spotify p {
    color: #7d7f84;
    padding-top: 5px;
    font-size: 14px;
}

.app-content .played {
    color: white;
    margin: 30px 0;
}

/*ALBUM*/
.app-content .album h2 {
    margin-top: 30px;
    color: white;
}

.app-content .album p {
    padding-bottom: 20px;
}


/* ARTISTS*/
.app-content .artists h2 {
    color: white;
    margin-top: 50px;
}

.app-content .artists p {
    margin-bottom: 40px;
}

.app-content .spotify {
    padding-bottom: 100px;
}

.app-content .artists img {
    border-radius: 50%;
}

/*FOOTER*/
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#282828;
    height: 100px;
    flex-basis: 100vh;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex; 
}

/*FOOTER LEFT*/
.main-footer .footer-left {
    align-items: center;
    flex-basis: 260px;
}

.main-footer img {
    width: 50px;
    margin-left: 10px;
    margin-right: 15px;
    object-fit: cover;
}

.main-footer .footer-left .titlemusic {
    font-size: 15px;
    color: white;
    display: block;
}

.main-footer .footer-left .textplayer .description:hover {
    text-decoration: underline;
    color: white;
}

.main-footer .footer-left .description {
    color: #707070;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.main-footer .footer-left .fonticon i:hover {
    color: white;
}

.main-footer .footer-left i {
    color: #707070;
    margin-right: 5px;
    cursor: pointer;
}

.main-footer .footer-left .fa-heart {
    margin-left: 40px;
}

/*FOOTER CENTER*/
.main-footer .footer-center {
    flex-direction: column;
    flex-basis: 520px;
}

.main-footer .footer-center .playerbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.main-footer .footer-center .playerbar .start-song,
.main-footer .footer-center .playerbar .end-song {
    color: white;
}

.main-footer .footer-center .player i {
    margin-right: 25px;
    color: white;
    font-size: 15px;
    cursor:  pointer;
}

.main-footer .footer-center .player i:nth-child(3) {
    font-size: 30px;
}

.main-footer .footer-center .player i:nth-child(3):hover {
    transform: scale(1.1);
}

.main-footer .footer-center .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    margin-left: 10px;
}

.main-footer .footer-center .barmusic {
    content: '';
    position: relative;
    width: 100%;
    height: 2px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #5a5a5a;
}

.main-footer .footer-center .barmusic .barprogress {
    content: '';
    position: absolute;
    width: 15%;
    right: 83%;
    bottom: -2px;
    height: 2px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
}

/*FOOTER RIGHT*/
.main-footer .footer-right {
    flex-direction: row;
    flex-basis: 260px;
}

.main-footer .footer-right i {
    color: white;
    padding-left: 10px;
    display: inline-block;
}

.main-footer .footer-right .volume {
    content: '';
    position: relative;
    width: 52%;
    height: 2px;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #5a5a5a;
    align-self: center;
}

.main-footer .footer-right .volumeprogress {
    content: '';
    position: absolute;
    width: 52%;
    height: 2px;
    bottom: -2px;
    right: 41%;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    align-self: center;
}

.main-footer .footer-right .volumeprogress .circle,
.main-footer .footer-center .barprogress .circle {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -2px;
    left: 60px;
    top: -7px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;   
}

.main-footer .footer-right .volumeprogress:hover .circle,
.main-footer .footer-center .barmusic .barprogress:hover .circle {
    opacity: 1;
}

.main-footer .footer-right .volume .volumeprogress:hover,
.main-footer .footer-center .barmusic .barprogress:hover {
    color: #9ce62d;
}